.employee-item {
  padding-right: 10%;
}
.first-name-td {
  width: 30%;
}
.last-name-td {
  width: 30%;
}
.department-td {
  width: 30%;
}

.employee-add-form {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px;
}
.employee-item-department {
  width: 90px;
}
.employee-add-form .employee-item-group-department {
  display: block;
}